
<% if this_user? %>
  <h3>My Tasks</h3>
<% else %>
  <h3><%= @user.name %>'s Tasks</h3>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <% if this_user? %>
      <li class="<%= "done" if task.completed %>"><%= link_to task.name, my_task_path(task.id) %> 
        <%= link_to_if(task.completed, "Mark Undone", mark_undone_path(task.id), {class: "done mark--undone", "data-id": "#{task.id}"}) do
        link_to "Mark Done", mark_done_path(task.id), {class: "mark--done", "data-id": "#{task.id}"}
        end%>
      </li>
    <% else %>
      <li><%= link_to task.name, user_task_path(task.user_id, task.id) %></li>
    <% end %>
  <% end %>
</ul>

<% if this_user? %>
  <%= link_to "Add A Task", new_my_task_path %>
  <%= link_to "My Profile", profile_path %>
<% else %>
  <%= link_to "#{@user.name}'s Profile", @user %>
<% end %>
