
<% if @user.id == session_id %>
  <h3>My Tasks</h3>
<% else %>
  <h3><%= @user.name %>'s Tasks</h3>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <% if @user.id == session_id %>
      <li class="<%= "done" if task.completed %>"><%= link_to task.name, my_task_path %> 
        <% if task.completed %>
          <%= link_to "Mark Undone" %>
        <% else  %>
           <%= link_to "Mark Done" %>
        <% end %>
      </li>
    <% else %>
      <li><%= link_to task.name, task %> <%= link_to "#{user.name}'s Tasks", user_tasks_path(user.id) %></li>
    <% end %>
  <% end %>
</ul>