

<% if this_users_task? %>
  <h3>My Task</h3>
  <%= link_to_if(@task.completed, "Mark Undone", mark_undone_path(@task.id), {class: "done", "data-id": "#{@task.id}"}) do
  link_to "Mark Done", mark_done_path(@task.id), {"data-id": "#{@task.id}"}
  end%>
  <%= link_to "Edit Task", edit_my_task_path %>
  <%= link_to "Delete Task", my_task_path, data: {method: :delete, confirm: "Are you sure?"} %>
<% end %>
<ul>
  <% @task.attributes.each do |attribute| %>
    <li><%= "#{attribute[0]}: #{attribute[1]}" %></li>
  <% end %>
</ul>

<p>Associations:</p>
<ul>
  <% Task.reflections.keys.each do |key| %>
      <% @association = @task.method(key).call %>
      <% if @association.respond_to? :each %>
          <li><%= @association.name %></li>
          <ul>
          <% if @association.length == 0 %>
            <li>None</li>
          <% end %>
          <% @association.each do |p| %>
              <li> p.name </li>
          <% end %>
          </ul>
      <% else %>
        <li><%= "#{@association.class}: #{@association.name}"  %></li>
      <% end %>
  <% end %>        
</ul>

<% if this_users_task? %>
  <%= link_to "Add A Task", new_my_task_path %>
  <%= link_to "Return To All Tasks", my_tasks_path %>
  <%= link_to "My Profile", profile_path %>
<% else %>
  <%= link_to "#{@task.user.name}'s Profile", @task.user %>
<% end %>
