<ul>
  <% @user.errors.messages.each do |error| %>
    <li><%= error[1] %></li>
  <% end %>
</ul>


<%= form_for @user do |f| %>
  <%= f.text_field("name", placeholder: "Type in your name.") %>
  <%= f.text_field("email", placeholder: "Type in your email.") %>
  <%= password_field("user", "password", placeholder: "Type in your password.") %>
  <%= f.submit("Create Your Account") %>
<% end %>