<ul>
<% @this_user.attributes.each do |attribute| %>
<li><%= "#{attribute[0]}: #{attribute[1]}" %></li>
<% end %>

<%= link_to "Edit Profile", edit_profile_path %>
<%= link_to "Delete Profile", profile_path, data: {method: :delete, confirm: "Are you sure?"} %>


</ul>

<p>Associations:</p>
<ul>
  <% User.reflections.keys.each do |key| %>
      <% @association = @this_user.method(key).call %>
      <% if @association.respond_to? :each %>
          <li><%= @association.name %></li>
          <ul>
          <% if @association.length == 0 %>
            <li>None</li>
          <% end %>
          <% @association.each do |p| %>
            <li><%= p.name %></li>
          <% end %>
          </ul>
      <% else %>
        <li><%= "#{@association.class}: #{@association.name}"  %></li>
      <% end %>
  <% end %>        
</ul>